<%= div_for post do %>
  <h1 id="link"><%= link_to(post.title,post) %></h1>
  
  <%=  raw(post.body) %>
  <div class="row">
    <span class="created_at span9">
      <%= link_to(post.comments.count.to_s + ' Kommentare      ',"/posts/#{post.id.to_s}#Kom" ) %>&nbsp;&nbsp;&nbsp;
        <%= post.created_at.to_s(:long) %>

       
      

    </span>
  </div>
<% end %>