
<%= render @posts %>
 
 <%= content_for :infos do %>
   
  <% end %>


<%= content_for :adminlinks do %>
  <li><%= link_to('Neuer Eintrag',
            new_post_path,
            :class => 'btn btn-success btn-mini') %>
  </li>

<% end %>
<%= paginate @posts %>
