<%- model_class = @post.class -%>

<h1 style="text-align: center; margin-top: 50px;"><%= @post.title %></h1>

  <div style="margin-top: 50px;">
    <%=  raw(@post.body) %>
  </div>
   <%= link_to ('Zurück'),
              posts_path, :class => 'btn'  %>
  <% if can? :manage, @post %>  
    <%= link_to ('Editieren'),
              edit_post_path(@post), :class => 'btn' %>
  <% end %>
  <% if can? :manage, @post %> 
  <%= link_to ('Löschen'),
              post_path(@post),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
  <% end %>
  <% set_meta_tags :keywords => truncate(@post.body, :length => 255 ) %>
  <% set_meta_tags :title => @post.title %>
  <% if @post.comments.count >= 5 %>
  <h2 style="margin-top: 50px;"><a name="Kom"></a>
    <a href="#Kom2">Kommentar schreiben</a></h2>
  <% end %>

<% @post.comments.each do |comment| %>
  <p style="margin-top: 50px;">
    <b>Name:</b>
    <%= comment.name %>
  </p>
 
  <p>
    <b></b>
    <%= simple_format(comment.body) %>
  </p>
  <p style="text-align: right;">
    <b ></b>
    <%= comment.created_at.to_s(:long) %>
  </p>
  <% if can? :manage, @comments %>
    <%= link_to 'Löschen', post_comment_path(@post, comment), confirm: 'Are you sure?', method: :delete ,
              :class => 'btn btn-danger btn-mini' %>
    <% end %>
  

  <% end %>

<div class="form-actions">
 
  
<%= semantic_form_for([@post, @post.comments.build]) do |f| %>
   
  <div style="margin-top: 50px;" >
    <h2><a name="Kom2"></a></h2>
    <br />
  
    
    
    
    <%= f.input :name , :label => false, :input_html => {:placeholder =>"Just write your name, dummy!"}  %>
      
    <%= f.input :mail , :label => false, :input_html => {:placeholder =>"Your@Mail.com"} %>
    

 
    <%= f.input :body, :label => false, :input_html => {:placeholder =>"For your health!"} %>
  </div>
  
    <%= f.actions %>
  
</div>
<% end %>
