<%- model_class = @post.class -%>

<h1 style="text-align: center; margin-top: 50px;"><%= @post.title %></h1>

  <div style="margin-top: 50px;">
    <%=  raw(@post.body) %>
  </div>

  <h2 style="margin-top: 50px;"><a name="Kom"></a>
    <a href="#Kom2">Kommentar schreiben</a></h2>

<% @post.comments.each do |comment| %>
  <p style="margin-top: 50px;">
    <b>Name:</b>
    <%= comment.name %>
  </p>
 
  <p>
    <b></b>
    <%= simple_format(comment.body) %>
  </p>
  <p style="text-align: right;">
    <b ></b>
    <%= comment.created_at.to_s(:long) %>
  </p>

  <% end %>

<div class="form-actions">
  <%= link_to ('Zurück'),
              posts_path, :class => 'btn'  %>
  <%= link_to ('Editieren'),
              edit_post_path(@post), :class => 'btn' %>
  <%= link_to ('Löschen'),
              post_path(@post),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
  
<%= semantic_form_for([@post, @post.comments.build]) do |f| %>
   
  <div style="margin-top: 50px;" >
    <h2><a name="Kom2"></a></h2>
    <br />
  
    
    
    
    <%= f.input :name , :label => false, :input_html => {:placeholder =>"Just write your name, dummy!"}  %>
      
    

 
    <%= f.input :body, :label => false, :input_html => {:placeholder =>"For your health!"} %>
  </div>
  
    <%= f.actions %>
  
</div>
<% end %>
